 .search-bar-container {
  flex-grow: 1;
  margin: 0 6rem;
}

.search-bar-group {
  height: 50px;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.search-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0.75rem 1rem;
  font-size: 15px;
  color: #505e64;
}

.search-button {
  border: none !important;
  border-left: 1px solid #eee !important;
  background-color: #fff !important;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Extra small screens (mobile) */
@media (max-width: 575.98px) {
  .search-bar-container {
    margin: 0 !important;
  }
  
  .search-bar-group {
    width: 100% !important;
  }
  
  .search-input {
    padding: 0.5rem !important;
    font-size: 14px !important;
  }
  
  /* Hide search button on mobile */
  .search-button {
    display: none !important;
  }
}
