.my-5 h2{
    color: #505e64;
    font-size: 2rem;
    text-align: center;
}
.login-box {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.login-btn {
  background-color: #5caf90 !important;
  border: none !important;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #3c836e;
}

.registerLink {
  color: #5caf90 !important;
  font-weight: 500;
  transition: color 0.3s ease;  

}
