.mt-5 h2{
    color: #505e64;
    font-size: 2rem;
    text-align: center;
}
.registration-box {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.03);
  margin-bottom: 4rem;
}

.btn-custom {
  background-color: #505e64;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}


.btn-custom:hover {
  background-color: #4b9a84;
}

.text-muted a {
  color: #6c757d;
}

.text-muted a:hover {
  color: #4b9a84;
  text-decoration: underline;
}
