/* Title */
.track-order-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.track-order-title span {
  font-size: 3.8rem;
}

.track-order-title span:first-child {
  font-size: 3.8rem;
}

.track-order-title span:last-child {
  color: #5cac94;
}

/* Order Info Card */
.order-card {
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-card h6 {
  color: #6c757d;
}

.order-card h5 {
  font-weight: 600;
}

/* Progress Line */
.progress-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  z-index: 0;
  border-radius: 2px;
}

.progress-bar {
  height: 100%;
  background-color: #5cac94 !important;
  transition: width 1.5s ease-in-out;
  border-radius: 2px;
  /* box-shadow: 0 0 8px rgba(92, 172, 148, 0.5); */
}

.step-icon {
  width: 48px;
  height: 48px;
  border: 2px solid;
  border-color: #ccc;
  background-color: #fff;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.step-icon.complete {
  border-color: #5cac94;
  background-color: #5cac94;
  color: #fff;
  box-shadow: 0 0 10px rgba(92, 172, 148, 0.3);
}

.step-icon.active {
  border-color: #5cac94;
  color: #5cac94;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(92, 172, 148, 0.2);
}

.step-label {
  font-weight: 500;
  margin-top: 8px;
  transition: color 0.3s ease;
}

.step-label.complete {
  color: #343a40;
}

.step-label.inactive {
  color: #6c757d;
}
