/* .comments-section {
  max-width: 80%;
  margin: 2rem auto;
    border-bottom: 1px solid #e0dbdb;
  padding-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;

 
} */
/* .commentNumber{
  background-color: #f3f3f3;
  padding: 0.8rem;
  border-radius: 0.5rem;

}



.comment-item {
  align-items: flex-start;
    border-bottom: 1px solid #d6d4d4;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;

}

.comment-avatar img {
  object-fit: cover;
}

.comment-content p {
  margin-bottom: 0.5rem;
}

.comment-form .form-control {
  border-radius: 0.25rem;
} */